.AccountMenu {
  position: relative;
}

.AccountMenu .avatar {
  background: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.AccountMenu .dropdown {
  background: white;
  border: 1px solid black;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  padding: 1em;
  position: absolute;
  right: 0;
  top: 100%;
}

.AccountMenu .dropdown * {
  width: 100%;
}
