@import url('https://fonts.googleapis.com/css?family=Lato');

.Theme {
  --theme-header-height: 80px;
  --theme-primary: rgb(40, 60, 75);
  --theme-primary-contrast: white;
  --theme-secondary: rgb(230, 230, 230);
  --theme-secondary-contrast: black;
  font-family: 'Lato', sans-serif;
}

.Theme a {
  color: inherit;
}
