.Dropdown {
  background: white;
  border: 1px solid black;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  padding: 1em;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
}

.Dropdown > * {
  width: 100%;
}
