.PostSummary {
  border: 1px solid black;
  margin-top: 1em;
  padding: 2em;
}

.PostSummary .header {
  display: flex;
  justify-content: space-between;
}

.PostSummary .profile {
  display: flex;
}

.PostSummary .profile a {
  text-decoration: none;
}

.PostSummary .profile a:hover {
  text-decoration: underline;
}

.PostSummary .profile .Avatar {
  margin-right: 5px;
}
